<head>
        <title>Floppy Fish</title>
	<link rel="stylesheet" href="style.css" media="screen">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oi&display=swap" rel="stylesheet">
    </head> 

    <header>
        <h1 class = "site-title"><a href = "/">Floppy Fish</a></h1>
    </header>

<body>
	<h2>404</h2>
	<h3>This page does not exist.</h3>
</body>
